/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

.inter-font-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

/* common style */
.display-flex{
    display: flex;
}
.text-description-color{
    color: #FFFFFF80;
}
.orange-color{
    color: #E6533C;
}
.orange-bg{
    background-color: #E6533C;
}
.btn{
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.section-margin{
    margin: 100px 150px;
}
.sub-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sub-description{
    font-size: 14px;
    font-weight: 400;
}

/* header */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* navbar */
nav ul{
    gap: 45px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    padding: 12px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.home{
    border-radius: 46px;
    padding: 8px 20px;
}
.nav-container{
    margin: 0px 150px;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
}
.hambergur{
    display: none;
}

/* banner style */
.banner-container{
    margin: 0px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-left{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    width: 450;
    height: 440;
    margin-right: 10px;
    margin-top: 100px;
}
.banner-title{
    font-size: 78px;
    font-weight: 900;
}
.banner-span{
    font-weight: 400;
    font-size: 78px;
}
.banner-description{
    font-size: 16px;
}
.btn-container{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}
.btn-one{
    border: none;
}
.btn-two{
    background: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}
.banner-right{
    margin-top: -250px;
}
.banner-right img{
    position: relative;
}
.collage-1{
    padding: 24px;
    width: 200px;
    height: 100px;
    text-align: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px; 
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin: -160px 0 0 -110px;
}
.video-icon{
    color: white;         
    padding: 5px 10px;    
    border: none;          
    border-radius: 40px;    
    font-size: 20px;       
    cursor: pointer;
}
.collage-1 h3{
    font-size: 24px;
}
.collage-2 h3{
    font-size: 40px;
}
.collage-1, .collage-2 h3{
    color: white;
    font-weight: 900;
}
.collage-1 p, .collage-2 p{
    font-size: 13px;
    letter-spacing: 1px;
}
.collage-2{
    padding: 24px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

    margin: -400px 0 0 230px;
}

/* main */
/* change habit section */
#change-habits{
    text-align: center;
}
.habit-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin: 14px 0px;
}
.habit-description{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF80;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 14px 0px;
    
}
.habit-cards-container{
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: 0px 14px;
}
.habit-card{
    padding: 10px;
}
.habit-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    margin: 30px 0px;
}

/* run extra section */
#run{
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-between;
    align-items: center;
}
.run-container{
    width: 440px;
    height: 300px;
    padding: 20px;
}
.run-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
#run p{
    font-size: 14px;
    margin: 14px 0px;
}
#run img{
    border-radius: 18px;
}

/* training excercises */
.training-title{
    font-size: 48px;
    font-weight: 900;
}
.training-description{
    font-size: 14px;
    letter-spacing: 0.03px;
    margin: 14px 0px;
}
.training-img{
    position: relative;
}
.training-img img{
    width: 340px;
    height: 220px;
}
.training-img t3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #E6533C;
}
.training-imgs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* bmi style */
.bmi-head{
    margin: 0px 380px;
    text-align: left;
}
.bmi-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.bmi-description{
    margin: 14px 0px;
}
#bmi{
    background: rgb(34, 34, 34);
}
.bmi-container{
    justify-content: space-between;
}
.bmi-chat table{
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
table th{
    font-size: 16px;
    font-weight: 500;
}
table td{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculation{
    flex-direction: column;
}
.bmi-container h2{
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
}
.bmi-container p{
    margin: 14px 0px 36px 0px;
}
.input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.input-field select:nth-child(5){
    grid-column: 1/3;
}
.input-field input, .input-field select{
    padding: 12px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}
.input-field button{
    border: none;
    width: 80%;
    margin: 20px 0px;
}


/* responsive */
/* small devices */
@media screen and (max-width: 575px) {
    header {
        margin: 0px 50px;
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .nav-link{
        display: none;
    }
    .nav-container{
        margin: 0px 50px;
        gap: 50px;
    }
    .hambergur{
        display: block;
        width: 24px;
        font-size: 20px;
    }
    .banner-container{
        margin: 0px 50px;
        flex-direction: column;
    }
    .banner-left{
        margin-bottom: 5px;
    }
    .banner-title{
        font-size: 36px;
    }
    .banner-span{
        font-weight: 400;
        font-size: 36px;
    }
    .btn{
        padding: 8px 20px;
        border-radius: 42px;
        font-size: 10px;
        font-weight: 600;
    }
    .banner-right{
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .collage-1{
        margin: -150px 0 0 -20px;
    }
    .collage-2{
        margin: -350px 0 0 150px;
    }
    #change-habits{
        text-align: center;
        margin-top: 250px;
    }
    .habit-title{
        font-size: 28px;

    }
    .habit-cards-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #run{
        padding: 5px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
    #run img{
        width: 430px;
        margin-top: -50px;
        margin-bottom: 40px;
    }
    #run button{
        font-size: 16px;
        padding: 10px 100px;
    }
    .bmi-head{
        margin: 0px 50px;
        text-align: left;
    }
    .bmi-container{
        margin: 10px;
        flex-direction: column;
    }
    .input-field input, .input-field select{
        padding: 5px 10px;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:920px) {
    header {
        margin: 50px 80px;
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .nav-container{
        margin: 0px 50px;
        gap: 20px;
    }
    .banner-container{
        flex-direction: column;
        gap: 50px;
    }
    .banner-left{
        margin-top: 10px;
    }
    .banner-title{
        font-size: 48px;
    }
    .banner-right{
        margin-top: 20px;
        margin-bottom: 200px;
    }
    .collage-1{
        margin: -150px 0 0 -20px;
    }
    .collage-2{
        margin: -350px 0 0 20px;
    }
    #change-habits{
        text-align: center;
        margin-top: 200px;
    }
    .habit-cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #run{
        padding: 20px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        justify-content: space-between;
        align-items: center;
    }
    .run-title{
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
    }
    #run p{
        font-size: 14px;
        margin: 8px 0px;
    }
    #run img{
        border-radius: 18px;
        width: 260px;
        height: 320px;
    }
    .bmi-head{
        margin: 0px 150px;
        text-align: left;
    }
    .bmi-container{
        margin: 50px;
        flex-direction: column;
    }
    .input-field input, .input-field select{
        padding: 10px 15px;
    }
}

